/* wishlist-modal.css */

/* public/wishlist/ wishlist-modal.css */


/* Modal overlay */
.modal {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

/* Modal image */
.modal-content {
    margin: 5% auto;
    display: block;
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
}

/* Caption */
#caption {
    margin: 15px auto;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}
